
body {
    font-family: Arial, sans-serif;
    background-color: #285c6b62;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}


.card-container {
    border-radius: 8px;
    box-shadow: 0 10px 35px rgb(17, 215, 241);
    max-width: 250px;
    width: 100%;
    margin: 20px; /* Added margin to ensure the card doesn't touch the edges */
}


.card {
    border-radius: 8px;
}


.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: auto;
    margin-top: 10px; 
}


.card-body {
    padding: 10px; 
    font-size: 0.9rem; 
}


.card-title {
    font-size: 1.2rem; 
    margin-bottom: 10px; 
}


.input-group {
    margin-bottom: 10px; 
}


.list-group-item {
    cursor: pointer;
    font-size: 0.9rem; 
    padding: 5px 10px; 
}


li.crossed {
    text-decoration: line-through;
    color: grey;
}


.btn {
    font-size: 0.9rem; 
}
