
body {
    font-family: Arial, sans-serif;
    background-color: rgb(20, 173, 219);
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(64, 73, 112, 0.8);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.crossed {
    text-decoration: line-through;
    background-color: #dcdcdc;
}
