body {
    font-family: 'Fira Code', monospace;
    background-color: rgba(41, 3, 43, 0.432);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.card-container {
    border-radius: 25px;
    box-shadow: -7px 25px 35px rgb(238, 104, 87);
    max-width: 90%;
    width: 100%;
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-container:hover {
    transform: scale(1.05);
    box-shadow: 2px 45px 85px rgb(255, 255, 255);
}

.card {
    border-radius: 25px;
    overflow: hidden;
}

.card-img-top {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.card-body {
    padding: 10px;
    font-size: 1.2rem;
    background-color: rgba(233, 100, 90, 0.671);;
}

.card-title {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 30px;
}

.list-group-item {
    cursor: pointer;
    font-size: 1rem;
    padding: 5px 10px;
    transition: opacity 1s ease-out;
}

li.crossed {
    text-decoration: line-through;
    color: rgb(255, 0, 0);
}

li.fading {
    opacity: 0;
}

.btn {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 4px 12px;
}

#add-todo {
    background-color: #a8a8a8;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    
}

#add-todo:hover {
    background-color: #1db4e1e6; 
    border-color: #ffffff; 
    border-radius: 7px;
}


@media (max-width: 576px) {
    .card-container {
        max-width: 88%; 
        margin: 9px; 
    }

    .card-body {
        font-size: 1.056rem; 
    }

    .card-title {
        font-size: 1.1rem; 
    }

    .list-group-item {
        font-size: 0.792rem; 
    }
}


@media (min-width: 576px) and (max-width: 768px) {
    .card-container {
        max-width: 79.2%; 
    }

    .card-body {
        font-size: 1.056rem; 
    }

    .card-title {
        font-size: 1.232rem; 
    }

    .list-group-item {
        font-size: 0.88rem; 
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    .card-container {
        max-width: 70.4%; /
    }

    .card-body {
        font-size: 1.232rem; 
    }

    .card-title {
        font-size: 1.408rem; 
    }

    .list-group-item {
        font-size: 1.056rem; 
    }
}


@media (min-width: 992px) {
    .card-container {
        max-width: 528px; 
    }

    .card-body {
        font-size: 1.408rem; 
    }

    .card-title {
        font-size: 1.584rem; 
    }

    .list-group-item {
        font-size: 1.232rem; 
    }
}